<div class="home-view">
    <table ng-table="vm.tableParams" class="table table-striped table-bordered">
        <tr ng-repeat="row in $data" ng-form name="tForm">
            <td ng-switch="row.isEditing" title="'First Name'">
                <span ng-switch-default>
                    <label>{{row.firstName}}</label>
                </span>
                <span ng-switch-when="true">
                    <input type="text" ng-model="row.firstName" class="form-control"/>
                </span>
            </td>
            <td ng-switch="row.isEditing" title="'Last Name'">
                <span ng-switch-default>
                    <label>{{row.lastName}}</label>
                </span>
                <span ng-switch-when="true">
                    <input type="text" ng-model="row.lastName" class="form-control"/>
                </span>
            </td>
            <td ng-switch="row.isEditing" title="'Date of Birth'">
                <span ng-switch-default>
                    <label>{{row.dob | date:'dd/MM/yyyy'}}</label>
                </span>
                <span ng-switch-when="true">
                    <input type="text" ng-model="row.dob" class="form-control"/>
                </span>
            </td>
            <td ng-switch="row.isEditing" >
                <span ng-switch-default class="btn btn-default" ng-click="row.isEditing = !row.isEditing">
                        <i class="fa fa-pencil-square-o edit-btn"></i>
                </span>
                <span ng-switch-when="true" class="btn btn-default" ng-click="row.isEditing = !row.isEditing">
                    <i class="fa fa-floppy-o save-btn"></i>
                </span>
            </td>
        </tr>
    </table>
</div>